{% extends 'base.html' %}
{% block content %}
    <!-- Main Start -->
    <main>
		<!-- Services -->
		<section class="container my-4">
			<h1 class="text-center mb-4 section-heading border-bottom pb-2">Contact Us</h1>
            <div class="row">
                <div class="col-md-7">
                    <table class="table table-bordered">
                        <tr>
                            <th>Address</th>
                            <td>St-2, Santa Monica USA</td>
                        </tr>
                        <tr>
                            <th>Mobile</th>
                            <td>+1 123456799</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>gravityglitch@gmail.com</td>
                        </tr>
                        <tr>
                            <th>Telephone</th>
                            <td>123 3456774</td>
                        </tr>

                    </table>
                </div>
                <div class="col-md-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2743.2204373000404!2d-118.50039252521698!3d34.00876857002626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2a4d74d5ea79b%3A0xcd9a111aced18f4d!2sSanta%20Monica%20Pier!5e1!3m2!1sen!2ske!4v1727332973230!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock %}